%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/


  %body
    %div.separate-section
      .user_list
        %h1 User Listing
        %table
          %thead
            %tr
              %th Email
          %tbody
            - @users.each do |user|
              - if current_user.id != user.id
                %tr
                  %td= user.email
                  %td= link_to "Chat", chat_page_path(id: user.id)
      .chat_section
        %h1 Chat
        %h2{style: "text-align: center; color:#5a577a"}= User.find_by_id(params[:id]).email rescue nil
        #chat.chat-container
          - @messages.each do |message|
            - if message.user_id == current_user.id
              .current-user
                = message.content.html_safe
            - else
              .other-user
                = message.content.html_safe
        = form_with(model: @message, url: '/chat/message', method: :post, remote: true, html: { class: 'chat-form ', id: 'message-form' }) do |form|
          = form.hidden_field :receive_id, value: params[:id] 
          = form.text_field :content, placeholder: 'Type your message', id: 'message-content'
          = form.submit 'Send'
    / = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

:javascript
  // tinymce.init({
  //   selector: '#message-content',
  //   plugins: 'autoresize emoticons',
  //   autoresize_bottom_margin: 16,
  //   // toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | emoticons'
  //   toolbar: 'emoticons'
  // });
  

:css
  .test {display: block;}
  .tox .tox-menubar {display: none;}